{% extends "commitments/modals/confirm_modal.html" %}

{% with commitment_id=commitment.id action="complete" %}

{% block modal_button_name %}Complete{% endblock modal_button_name %}

{% block modal_target_label %}{{ action }}_modal_{{ commitment_id }}{% endblock modal_target_label %}

{% block modal_id_label %}{{ action }}_modal_{{ commitment_id }}{% endblock modal_id_label %}

{% block modal_title %}{{ action }}{% endblock modal_title %}

{% block modal_action %}{{ action }}{% endblock modal_action %}
{% endwith %}

{% block confirm_action %}
{% include "commitments/post_buttons/complete_commitment_button.html" %}
{% endblock confirm_action %}