{% extends "commitments/modals/confirm_modal.html" %}

{% block modal_open_button_text %}Complete{% endblock modal_open_button_text %}

{% block modal_title_text %}Confirm completion{% endblock modal_title_text %}

{% block modal_body_text %}
Are you sure you wish to mark "{{ commitment.title }}"" complete?
{% endblock modal_body_text %}

{% block confirm_action %}
{% include "commitments/post_buttons/complete_commitment_button.html" %}
{% endblock confirm_action %}

{% block modal_everything %}
{% with commitment_id=commitment.id|stringformat:"d"  %}
{% with modal_id="modal_action_complete_"|add:commitment_id %}
{{ block.super }}
{% endwith %}
{% endwith %}
{% endblock modal_everything %}