

<!-- Button -->


<button type="button" class="standard-button primary-accent" data-bs-toggle="modal" data-bs-target="#modal">
    {% block modal_button_name %}{% endblock modal_button_name %}
</button>



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Confirm {% block modal_title %}{% endblock modal_title %}</h1>
                <button type="button" class="btn-close close-x-button" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
              <p>Are you sure you wish to {% block modal_action %} {% endblock modal_action %} "{{ commitment.title }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close close-x-button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                
                {% block confirm_action %} {% endblock confirm_action %}
            </div>
        </div>
    </div>
</div>