{% extends "commitments/modals/help_modal_base.html" %}

{% block modal_body_text %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Pellentesque habitant morbi tristique senectus et netus et. Tortor condimentum lacinia quis vel eros. Penatibus et magnis dis 
parturient. Lectus quam id leo in vitae turpis massa. Nibh ipsum consequat nisl vel. Vitae auctor eu augue ut lectus arcu bibendum. 
Nunc non blandit massa enim nec dui nunc mattis. Tortor posuere ac ut consequat semper viverra nam libero. Turpis egestas integer eget aliquet.

Tortor condimentum lacinia quis vel eros donec. Justo donec enim diam vulputate ut. Potenti nullam ac tortor vitae purus faucibus ornare. 
Id ornare arcu odio ut sem nulla pharetra diam. Molestie nunc non blandit massa enim nec. Cursus risus at ultrices mi tempus imperdiet nulla 
malesuada. Ac tortor dignissim convallis aenean et tortor at risus viverra. Ullamcorper sit amet risus nullam eget felis. 
Fames ac turpis egestas maecenas pharetra convallis. Amet consectetur adipiscing elit pellentesque habitant morbi. 
Risus nullam eget felis eget nunc. Vivamus at augue eget arcu dictum varius duis at consectetur. Pellentesque elit ullamcorper dignissim cras. 
Proin sed libero enim sed faucibus. Nunc consequat interdum varius sit amet. Diam vulputate ut pharetra sit amet aliquam id diam.
{% endblock modal_body_text %}

{% comment %} 
    Surrounding the extended template content (modal_everything) with these {% with %} statements 
    is necessary to allow the parent template to access our modal_id variable.
    Two with statements are necessary in order to first fetch and format the current 
    commitment_id, and then prepend our action string to create a unique modal_id for the modal to use.
{% endcomment %}

{% block modal_everything %}
        {% with modal_id="dashboard_help_modal" %}
            {{ block.super }}
        {% endwith %}
{% endblock modal_everything %}