{% extends "commitments/common/base.html" %}

{% block title %}
  Delete reminder email
{% endblock title %}

{% block page_content %}
  <div class="container-xl px-0 round-corners foreground">
    <div class="primary-header-container">
      <h1>Delete reminder email</h1>
    </div>
    <div class="container-fluid px-3 py-3">
      <div class="p-1 round-corners background text-center">
        <p>
          Are you sure you want to delete the reminder email for '{{ commitment.title }}'
          that is scheduled on {{ reminder_email.date }}?
        </p>
      </div>
      {# Render the error notes for the implicit form so that bad requests made #}
      {# during development will be easier to debug. Errors cannot occur during #}
      {# normal use of this form.#}
      {{ form.non_field_errors }}
      {{ form.delete.errors }}
      <div class="d-flex justify-content-center p-2">
        <div class="px-2 pt-3">
          <a href="{% url "view CommitmentReminderEmails" commitment_id=commitment.id %}">
            <button class="alternate-button">Cancel</button>
          </a>
        </div>
        <div class="px-2 pt-3">{% include "commitments/CommitmentReminderEmail/reminder_email_delete_button.html" %}</div>
      </div>
    </div>
  </div>
{% endblock page_content %}
