{% extends "commitments/common/base.html" %}

{% block title %}
  Reminder emails for {{ commitment.title }}
{% endblock title %}

{% block page_content %}
  <div class="container-xl px-0 round-corners foreground">
    <div class="primary-header-container">
      <h1>Reminder emails for {{ commitment.title }}</h1>
    </div>
    <div class="table-responsive text-center">
      <table class="table table-striped table-layout-fixed">
        <thead>
          <tr>
            <th scope="col">Date of email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

          {% for reminder_email in reminder_emails %}
            <tr>
              <td>{{ reminder_email.date }}</td>
              <td>
                <a href="{% url "delete CommitmentReminderEmail" commitment_id=commitment.id reminder_email_id=reminder_email.id %}">
                  <button class="standard-button">
                    <i class="bi bi-trash"></i> Delete
                  </button>
                </a>
              </td>
            </tr>
          {% endfor %}

        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
      <div class="container pb-3">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <a href="{% url 'view Commitment' commitment_id=commitment.id %}">
              <button class="btn view-button m-2" type="submit">Back to commitment</button>
            </a>
          </div>

          {% block create_button %}
            <div class="col-md-6 order-md-1">
              <a href="{% url 'create CommitmentReminderEmail' commitment_id=commitment.id %}">
                <button class="btn standard-button m-2" type="submit">Schedule a reminder email</button>
              </a>
            </div>
          {% endblock create_button %}

        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
