{% extends "commitments/common/base.html" %}

{% block open_graph_metadata %}
  <meta name="twitter:card" content="summary_large_image">
</meta>
<meta property="og:title" content="{{ commitment.title }}">
<meta property="og:type" content="website">
<meta property="og:image" content="https://picsum.photos/1024/512">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock open_graph_metadata %}

{% block title %}
  {{ commitment.title }}
{% endblock title %}

{% block page_content %}
  <div class="container-xl px-0 mb-3 foreground round-corners">
    <div class="primary-header-container">
      <h1>{{ commitment.title }}</h1>
    </div>
    <div class="container-fluid px-3 pt-3">
      <div class="container d-flex justify-content-around pb-3">

        {% block twitter_share_button %}
        {% endblock twitter_share_button %}

      </div>
      <div class="my-1 p-3 round-corners background text-center">
        <p>
          {% block associated_course_info %}
            {% if commitment.associated_course %}
              Made as part of <strong>{{ commitment.associated_course }}</strong>
              offered by <strong>{{ commitment.associated_course.owner.institution }}</strong>
            {% else %}
              <em>Not associated with any course.</em>
            {% endif %}
          {% endblock associated_course_info %}
        </p>
        <p>Started: {{ commitment.created.date }}</p>
        <p>Due: {{ commitment.deadline }}</p>
        <p>Status: {{ commitment.status_text }}</p>
      </div>
      <div class="mt-3 p-3 round-corners background text-center">
        <p>{{ commitment.description | linebreaksbr }}</p>
      </div>
    </div>
    <div class="container-fluid py-3 text-center">
      <div class="row">
        <div class="col-md-4 my-2 order-md-2">

          {% block edit_button %}
          {% endblock edit_button %}

        </div>
        <div class="col-md-4 my-2 order-md-3">

          {% block reminder_emails_button %}
          {% endblock reminder_emails_button %}

        </div>
        <div class="col-md-4 my-2 order-md-1">

          {% block delete_button %}
          {% endblock delete_button %}

        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
