{% extends "commitments/Commitment/commitment_view_unowned_page.html" %}

{% block edit_button %}
  <form action="{% url "edit Commitment" commitment_id=commitment.id %}">
    <button class="standard-button primary-accent" type="submit">Edit Commitment</button>
  </form>
{% endblock edit_button %}

{% block delete_button %}
  {% include "commitments/Commitment/commitment_delete_modal.html" %}
{% endblock delete_button %}

{% block reminder_emails_button %}
  <a href="{% url 'view CommitmentReminderEmails' commitment_id=commitment.id %}">
    <button class="standard-button primary-accent" type="submit">Manage reminder emails</button>
  </a>
{% endblock reminder_emails_button %}
