{% extends "commitments/common/base_form.html" %}
{% block title %} Edit Commitment {% endblock title %}
{% block form_header %}
<h1>Edit Commitment</h1>
{% if commitment.source_template %}
<div>
    <p>Some suggested commitment fields are not eligible for editing. {% include "commitments/Commitment/commitment_create_from_suggested_commitment_help_modal.html" %}</p> 
</div>
{% else %}
<div>
    <p>Try to keep your commitments S.M.A.R.T. {% include "commitments/Commitment/smart_popover.html" %}</p>
</div>
{% endif %}

{% endblock form_header %}

{% block form_url %}
{% url "edit Commitment" commitment_id=commitment.id %}
{% endblock form_url %}
{% block form_extra_action_buttons %}
<a href="{% url "delete Commitment" commitment_id=commitment.id %}" class="view-button p-1">Delete</a>
{% endblock form_extra_action_buttons %}