{% extends "commitments/common/base.html" %}

{% block title %}
  {{ commitment.title }}
{% endblock title %}

{% block page_content %}
  <div class="container-xl px-0 mb-3 foreground round-corners">
    <div class="primary-header-container">
      <h1>{{ commitment.title }}</h1>
    </div>
    <div class="container-fluid px-3">
      <div class="my-1 p-1 round-corners background text-center">
        <p>Started: {{ commitment.created.date }}</p>
        <p>Due: {{ commitment.deadline }}</p>
        <p>Status: {{ commitment.status_text }}</p>
      </div>
      <div class="my-1 p-1 round-corners background text-center">
        <p>{{ commitment.description }}</p>
      </div>
    </div>
    <div class="container-fluid p-2 text-center">
      <div class="row">
        <div class="col-md-4 mt-2 mt-md-0 order-md-2">

          {% block edit_button %}
          {% endblock edit_button %}

        </div>
        <div class="col-md-4 mt-2 mt-md-0 order-md-3">

          {% block reminder_emails_button %}
          {% endblock reminder_emails_button %}

        </div>
        <div class="col-md-4 order-md-1">

          {% block delete_button %}
          {% endblock delete_button %}

        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
