{% extends "commitments/base.html" %}

{% block title %} {{ commitment.title }} view {% endblock title %}

{% block page_content %}
<div class="container-fluid">
    <div class="container-fluid p-1 my-3 commitment-title round-corners primary-accent">
        <h1>{{ commitment.title }}</h1>
    </div>
    <div class="container-fluid p-1 my-3 round-corners secondary-accent text-center">
        <div class="container-fluid p-1 my-3 round-corners secondary-accent text-center">
            <p>Are you sure you want to delete {{ commitment.title }}
            that finishes on {{ commitment.deadline }}?</p>
        </div>
        <a href="{% url 'edit commitment' commitment_id=commitment.id %}">Cancel</a>
        {% include "commitments/post_buttons/delete_commitment_confirm_button.html" %}
    </div>
</div>
{% endblock page_content %}