{% if commitment.status == 0 %}
  <div class="chart-legend-color legend-color-in-progress"></div>
  <span>In-progress</span>
{% endif %}
{% if commitment.status == 1 %}
  <div class="chart-legend-color legend-color-complete"></div>
  <span>Complete</span>
{% endif %}
{% if commitment.status == 2 %}
  <div class="chart-legend-color legend-color-expired"></div>
  <span>Past-due</span>
{% endif %}
{% if commitment.status == 3 %}
  <div class="chart-legend-color legend-color-discontinued"></div>
  <span>Discontinued</span>
{% endif %}
