
        {% if request.user.is_provider %}
        <span>
            <a href="{% url "view CommitmentTemplate" commitment_template_id=suggested_commitment.id %}">
                {{ suggested_commitment }}
            </a>
        </span>
        
        {% elif request.user.is_clinician %}
        <span>
            {{ suggested_commitment }}
        </span>
        <span>
            <a href="{% url 'create Commitment from suggested commitment' course_id=course.id commitment_template_id=suggested_commitment.id %}">
                <button class="standard-button">Make This Commitment</button>
            </a>
        </span>
        {% endif %}
