<div class="col-xs-6 chart-legend-container">
    {% if course_commitments_object.counts.in_progress %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-in-progress"></div>
            <span>
                In progress: {{ course_commitments_object.counts.in_progress }}
                ({{ course_commitments_object.percentages.in_progress | floatformat:1 }}%)
            </span>
        </div>
    {% endif %}

    {% if course_commitments_object.counts.complete %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-complete"></div>
            <span>
                Complete: {{ course_commitments_object.counts.complete }}
                ({{ course_commitments_object.percentages.complete | floatformat:1 }}%)
            </span>
        </div>
    {% endif %}

    {% if course_commitments_object.counts.discontinued %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-discontinued"></div>
            <span>
                Discontinued: {{ course_commitments_object.counts.discontinued }}
                ({{ course_commitments_object.percentages.discontinued | floatformat:1 }}%)
            </span>
        </div>
    {% endif %}

    {% if course_commitments_object.counts.expired %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-expired"></div>
            <span>
                Past-due: {{ course_commitments_object.counts.expired }}
                ({{ course_commitments_object.percentages.expired | floatformat:1 }}%)
            </span>
        </div>
    {% endif %}
</div>