<button class="standard-button"
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#send-bulk-email-modal"><i class="bi bi-envelope-at-fill"></i> Send bulk email</button>
<div class="modal fade"
     id="send-bulk-email-modal"
     tabindex="-1"
     aria-labelledby="send-bulk-email-modal-Label"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center" id="send-bulk-email-modal-Label">Select students to email</h1>
        <button type="button"
                class="btn-close close-x-button"
                data-bs-dismiss="modal"
                aria-label="Close">X</button>
      </div>
      <div class="modal-body text-left">
        <div class="table-responsive bulk-email-table-container">
          <table id="provider-course-student-datatable-bulk-email" class="display">
            <thead>
              <tr>
                <th class="datatable-select-column" scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>

              {% for clinician in course.students.all %}
                <tr>
                  <td class="text-center">
                    <input type="checkbox"
                           class="email-checkbox"
                           data-email="{{ clinician.email }}">
                  </td>
                  <td>{% include "commitments/Course/course_enrolled_student_profile_popover.html" %}</td>
                  <td>{{ clinician.email }}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <div class="modal-footer d-flex align-items-center justify-content-between">
          <button type="button"
                  class="btn-close close-x-button"
                  data-bs-dismiss="modal">Cancel</button>
          <button type="submit"
                  id="modal-bulk-email-submit-button"
                  class="standard-button">Compose email</button>
        </div>
      </div>
    </div>
  </div>
</div>
