{% extends "commitments/common/base.html" %}

{% block title %}
  Provider Dashboard
{% endblock title %}

{% block page_content %}
  <div class="container-xl px-0 mb-3 foreground round-corners">
    <div class="primary-header-container">
      <span class="header-with-modal">
        <h1>Courses</h1>
        {% include "commitments/dashboard/provider/dashboard_provider_course_help_modal.html" %}
      </span>
    </div>
    {% include "commitments/dashboard/dashboard_courses_list.html" %}
  </div>
  <div class="container-xl px-0 foreground round-corners">
    <div class="pb-3 foreground round-corners">
      <div class="primary-header-container">
        <span class="header-with-modal">
          <h1>Commitment Templates</h1>
          {% include "commitments/dashboard/provider/dashboard_provider_commitment_templates_help_modal.html" %}
        </span>
      </div>
      {% include "commitments/dashboard/provider/dashboard_provider_commitment_template_list.html" %}
    </div>
  </div>
{% endblock page_content %}
