@charset "utf-8";

:root {
    --primary-accent: #AA1400;
    --primary-select: #e61d02;
    --primary-border: #670000;
    --secondary-accent: #ffa2a2;
    --background: #DDE6EC;
    --foreground: #FFFFFF;
    --primary-text: #000000;
    --light-text: #7B7B7B;
    --accent-text: #FFFFFF;
}

.primary-accent {
    background-color: var(--primary-accent);
    color: var(--accent-text);
}

.primary-select {
    background-color: var(--primary-select);
}

.primary-border {
    background-color: var(--primary-border);
}

.secondary-accent {
    background-color: var(--secondary-accent);
}

.background {
    background-color: var(--background);
}

.foreground {
    background-color: var(--foreground);
}

.accent-text {
    color: var(--accent-text);
}

body {
    background-color: var(--background);
}

.main-container {
    padding: 30px;
}

.small-box-container {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flex-box {
    display: flex;
    justify-content: space-between;
}


.button {
    background-color: var(--primary-accent);
    border: none;
    color: var(--accent-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.commitment-title {
    text-align: center;
    color: #FFFFFF;
}

.round-corners {
    border-radius: 15px;
}

.pad-small {
    padding: 15px;
}

.pad-small-side {
    padding-right: 15px;
    padding-left: 15px;
}

.pad-small-bot {
    padding-bottom: 15px;
}

.center {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.title_header {
    background-color: var(--primary_accent);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.commitment_header {
    background-color: var(--primary_accent);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logout-button {
    background-color: var(--primary-accent);
    color: var(--accent-text);
    border-width: 0px;
    border-radius: 10px;

}

.standard-button {
    background-color: var(--primary-accent);
    color: var(--accent-text);
    border-width: 0px;
    border-radius: 10px;

}

ul.errorlist > li {
    color: red;
    font-weight: bold;
}