@charset "utf-8";

/* 
-------------------------------------------------------------------
    --- Variables --- 
------------------------------------------------------------------- 
 */

:root {
    --primary-accent: #AA1400;
    --primary-select: #e61d02;
    --primary-border: #630000;
    --secondary-accent: #ffa2a2;
    --background: #DDE6EC;
    --foreground: #FFFFFF;
    --primary-text: #000000;
    --light-text: #7B7B7B;
    --accent-text: #FFFFFF;
    --standard-round: 15px;
}

/* 
-------------------------------------------------------------------
    --- Website defaults --- 
------------------------------------------------------------------- 
 */

 body {background-color: var(--background);}

 ul.errorlist > li {
    color: red;
    font-weight: bold;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* 
-------------------------------------------------------------------
    --- Colors --- 
------------------------------------------------------------------- 
 */

.primary-accent {background-color: var(--primary-accent); color: var(--accent-text);}
.primary-select {background-color: var(--primary-select);}
.primary-border {background-color: var(--primary-border);}
.secondary-accent {background-color: var(--secondary-accent);}
.background {background-color: var(--background);}
.foreground {background-color: var(--foreground);}
.accent-text {color: var(--accent-text);}

/* 
-------------------------------------------------------------------
    --- Modifiers --- 
------------------------------------------------------------------- 
 */
 .round-corners
 {
     border-radius: var(--standard-round);
 }

/* 
-------------------------------------------------------------------
    --- Containers --- 
------------------------------------------------------------------- 
 */

.main-container {
    padding: 30px;
}

.small-box-container {
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

/* 
-------------------------------------------------------------------
    --- Generic Transitions --- 
------------------------------------------------------------------- 
 */

 .border-on-hover
 {
     border: 1px solid transparent;
     transition: 0.3s ease-in-out;
 }
 .border-on-hover:hover
 {
     border: 1px solid grey;
 }
 .brighten-on-hover
 {
     filter: brightness(96%);
     transition: 0.3s;
 }
 .brighten-on-hover:hover
 {
     filter: brightness(100%);
 }
 .enlarge-on-hover
 {
     transform: translateZ(0);
     transition: 0.1s ease-in-out;
     webkit-transform: translateZ(0);
 }
 .enlarge-on-hover:hover
 {
     transform: scale(1.03);
 }

/* 
-------------------------------------------------------------------
    --- Component Styling --- 
------------------------------------------------------------------- 
 */

 .button
 {
     background-color: var(--primary-accent);
     border: none;
     color: var(--accent-text);
     cursor: pointer;
     float: right;
     font-size: 16px;
     margin: 4px 2px;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
 }
 .close-x-button
 {
    font-size: 18px;
    border: 0px solid transparent;
    color: var(--light-text);
    background-color:var(--foreground);
    border-radius: var(--standard-round);
    transition: 0.3s ease-in-out;

 }
 .close-x-button:hover
 {
    color: var(--primary-text);
    filter: brightness(90%);
    
 }
 .commitment_header
 {
     background-color: var(--primary-accent);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     color: white;
 }
 .commitment-title
 {
     color: #FFFFFF;
     text-align: center;
 }
 .info-button
 {
    font-size: 32px;
 }

 .modal-dialog {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: clamp(15px, 10%, 300px);
    padding-right: clamp(15px, 10%, 300px);
}

 .standard-button
 {
     background-color: var(--primary-accent);
     border: 2px solid transparent;
     border-radius: 10px;
     color: var(--accent-text);
     transition: 0.3s ease-in-out;
 }
 .standard-button:hover
 {
     border: 2px solid var(--primary-border);
     filter: brightness(130%);
 }
 .title_header
 {
     background-color: var(--primary-accent);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     color: white;
 }
 .view-button
 {
     background-color: var(--background);
     border: 2px solid grey;
     border-radius: var(--standard-round);
     transition: 0.3s ease-in-out;
 }
 .view-button:hover
 {
     border: 2px solid black;
 }

/* 
-------------------------------------------------------------------
    --- Form Styling ---
------------------------------------------------------------------- 
 */

 div.default-form input[type=submit]
 {
     background-color: var(--primary-accent);
     border-radius: 15px;
     color: var(--accent-text);
     max-width: 50%;
 }
 
 div.default-form label
 {
     display: block;
 } 
 div.default-form select, div.default-form input
 {
     border: 1px solid grey;
     border-radius: 4px;
     box-sizing: border-box;
     display: inline-block;
     width: 100%;
 }
 div.edit-form input[type=submit]
 {
     background-color: var(--primary-accent);
     border-radius: 15px;
     color: var(--accent-text);
     width: 50%;
 }
 div.edit-form label
 {
     display: block;
 }
 div.edit-form select, div.edit-form input
 {
     border: 1px solid grey;
     border-radius: 4px;
     box-sizing: border-box;
     display: inline-block;
     width: 100%;
 }

.selectSuggestedForm input[type=submit]
 {
     background-color: var(--primary-accent);
     border-radius: 15px;
     color: var(--accent-text);
 }

/* 
-------------------------------------------------------------------
    --- Table styling ---
(TODO: Remove once tables are removed) 
------------------------------------------------------------------- 
 */

table.commitment-status-breakdown-table, 
table.commitment-status-breakdown-table th,
table.commitment-status-breakdown-table td {
    border-collapse: collapse;
    border: 1px solid black;
}

table.commitment-status-breakdown-table tr > td:nth-child(2),
table.commitment-status-breakdown-table tr > th:nth-child(2) {
    text-align: right;
}