{% extends "commitments/common/base.html" %}

{% block title %} Password reset email sent {% endblock title %}

{% block page_content %}
<div class="container">
    <div class="p-3 round-corners pb-3 text-center default-form foreground">
            <h1>Password reset email sent</h1>
            <p>
                A link to reset your password has been sent to the email you provided.
                If you do not receive the email shortly, please check your spam folder
                and verify that you correctly entered the email address you registered with.
            </p>
    </div>
</div>
{% endblock page_content %}