{% extends "commitments/common/base.html" %}

{% block title %}
  Change your password
{% endblock title %}

{% block page_content %}
  <div class="p-3 small-box-container round-corners pb-2 text-center foreground">
    <div class="p-2 text-center secondary-accent round-corners default-form">
      <h1>Change your password</h1>
      <p>
        You can change the password you use to login here.
      </p>
      <form action="{% url "change password" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center py-1">
          <button type="submit" class="standard-button">Change password</button>
        </div>
      </form>
      <div class="d-flex justify-content-center py-1">
        <a href="{% url 'view Profile' %}">
          <button class="alternate-button">Back to profile</button>
        </a>
      </div>
    </div>
  </div>
{% endblock page_content %}
