{% extends "commitments/common/base.html" %}

{% block title %}
  Log In Page
{% endblock title %}

{% block page_content %}
  <div class="container p-3 text-center">
    <h2>You have successfully logged out</h2>
  </div>
  <div class="container p-3 ">
    <div class="small-box-container secondary-accent text-center">
      <h3>Log In Again</h3>
      <a href="{% url 'login' %}">
        <button type="submit" class="standard-button primary-accent">Log In</button>
      </a>
    </div>
  </div>
{% endblock page_content %}
