{% extends "commitments/base.html" %}

{% block title %} Log In Page {% endblock %}

{% block page_content %}
<div class="w3-container background">
    <div class="w3-small-box-container center">
        <h2>You have successfully logged out</h2>
    </div>
    <div class="w3-container">
        <div class="small-box-container secondary-accent center">
            <h3>Log In Again</h3>
            <a href="/accounts/login/"><button  type="submit" class="standard-button primary-accent">Log In</button></a>
        </div>
    </div>
</div>
{% endblock %}