{% extends "commitments/base.html" %}

{% block title %} Log In Page {% endblock title %}

{% block page_content %}
<div class="container-fluid px-5 pt-5 text-center background">
    <div class="p-3 small-box-container round-corners pad-small-bot center default-form foreground">
        <div class="p-2 center secondary-accent pad-small-bot round-corners">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="standard-button primary-accent">Log In</button>
            </form>
        </div>
        <div class="container">
            <div class="w3-small-box-container round-corners pad-small-bot center background">
                <h4>Need an account?</h4>
                <a href="{% url 'register type choice' %}">
                    <button type="submit" class="standard-button">Click here to register</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
