{% extends "commitments/base.html" %}

{% block title %} Log In Page {% endblock title %}

{% block page_content %}
<div class="w3-container background">
    <div class="small-box-container round-corners pad-small-bot center">
        <div class="center secondary-accent pad-small-bot round-corners">
                <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="standard-button primary-accent">Log In</button>
            </form>
        </div>
        <div class="w3-container">
            <div class="w3-small-box-container round-corners pad-small-bot center primary-accent">
                <h4>Need an account?</h4>
                <a href="{% url 'register type choice' %}">
                    <button type="submit" class="standard-button primary-accent">Click here to register</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}