{% extends "commitments/Common/base.html" %}

{% block title %} Reset your password {% endblock title %}

{% block page_content %}
<div class="container-fluid px-5 pt-5 text-center background">
    <div class="p-3 small-box-container round-corners pb-2 text-center foreground">
        <div class="p-2 text-center secondary-accent round-corners default-form">
            <h1>Reset your password </h1>
            <p>
                If you have forgotten your password, you can reset it here using the
                email you registered with.
            </p>
            <form action="{% url "reset password" %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="standard-button">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}