<div class="p-3 small-box-container round-corners pb-2 text-center foreground">
  <div class="p-2 text-center secondary-accent round-corners default-form">
    <h1>Confirm new password</h1>
    <p>Confirm your new password below, entering twice to verify it is typed correctly.</p>
    {# Django messes with the url of this page, so we should leave the action attribute #}
    {# missing rather than try and hit a moving target that contains secure info. #}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-center">
        <button type="submit" class="standard-button">Confirm password</button>
      </div>
    </form>
  </div>
</div>
