{% extends "commitments/common/base_help_modal.html" %}

{% block modal_title %} 
Commitment Templates
{% endblock modal_title %}

{% block icon_color %}black{% endblock icon_color %}

{% block modal_body_text %}
Commitment Templates allow students in your course to commit to a common, course-related goal. You can create as many templates as you like, and use the same commitment across multiple courses if desired. 

<br>
<br>
The Commitment Title and Description you set here will be non-editable to students that make this commitment.

{% endblock modal_body_text %}

{% comment %} 
    Surrounding the extended template content (modal_everything) with these {% with %} statements 
    is necessary to allow the parent template to access our modal_id variable.
    Two with statements are necessary in order to first fetch and format the current 
    commitment_id, and then prepend our action string to create a unique modal_id for the modal to use.
{% endcomment %}

{% block modal_everything %}
        {% with modal_id="commitment_template_create_page_help_modal" %}
            {{ block.super }}
        {% endwith %}
{% endblock modal_everything %}