<div class="container-fluid text-center">
    {% if commitment_template.statistics.derived_commitments.statuses.counts.total == 0 %}
        No commitments have been made from this template.
    {% else %}
        <h2>Statistics for 
            {{ commitment_template.statistics.derived_commitments.statuses.counts.total }}
             derived commitments
        </h2>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        
    <div id="status-breakdown-chart">
    </div>
    

    <script>
        // Set up data for the pie chart. In the future, this should be passed in.

        const data = [
        {
            count: {{ commitment_template.statistics.derived_commitments.statuses.counts.in_progress }},
            color: '#8FC3D4',
            
        },
        { 
            count: {{ commitment_template.statistics.derived_commitments.statuses.counts.complete }},
            color: '#7CC487',
        },
        {
            count: {{ commitment_template.statistics.derived_commitments.statuses.counts.discontinued }},
            color: '#717171',
        },
        { 
            count: {{ commitment_template.statistics.derived_commitments.statuses.counts.expired }},
            color: '#E27E7A',
        },
        ];

        const cleanData = removeEmptyData(data);
        document.addEventListener("DOMContentLoaded", () => generatePieChart(cleanData, "#status-breakdown-chart"));

        function removeEmptyData(data){
            let cleanData = data.slice();
            for (let i = cleanData.length - 1; i >= 0; i--) {
                if (cleanData[i].count === 0) {
                    cleanData.splice(i, 1);
                }
            }
            return cleanData;
        }
    </script>
    {% endif %}
</div>