<div class=chart-legend-container>
    {% if commitment_template.statistics.derived_commitments.statuses.counts.in_progress %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-in-progress"></div>
            <span>
                In-progress: {{ commitment_template.statistics.derived_commitments.statuses.counts.in_progress }} 
                (~{{ commitment_template.statistics.derived_commitments.statuses.percentages.in_progress }}%)
            </span>
        </div>
    {% endif %}
    {% if commitment_template.statistics.derived_commitments.statuses.counts.complete %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-complete"></div>
            <span>
                Complete: {{ commitment_template.statistics.derived_commitments.statuses.counts.complete }} 
                (~{{ commitment_template.statistics.derived_commitments.statuses.percentages.complete }}%)
            </span>
        </div>
    {% endif %}
    {% if commitment_template.statistics.derived_commitments.statuses.counts.discontinued %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-discontinued"></div>
            <span>
                Discontinued: {{ commitment_template.statistics.derived_commitments.statuses.counts.discontinued }} 
                (~{{ commitment_template.statistics.derived_commitments.statuses.percentages.discontinued }}%)
            </span>
        </div>
    {% endif %}
    {% if commitment_template.statistics.derived_commitments.statuses.counts.expired %}
        <div class="chart-legend-item-container">
            <div class="chart-legend-color legend-color-expired"></div>
            <span>
                Past-due: {{ commitment_template.statistics.derived_commitments.statuses.counts.expired }} 
                (~{{ commitment_template.statistics.derived_commitments.statuses.percentages.expired }}%)
            </span>
        </div>
    {% endif %}
</div>
