{% extends "commitments/common/base.html" %}

{% block title %}
  {{ commitment_template.title }}
{% endblock title %}

{% block page_content %}
  <div class="container-xl px-0 mb-3 foreground round-corners">
    <div class="primary-header-container">
      <h1>{{ commitment_template.title }}</h1>
    </div>
    <div class="container-fluid px-3 pt-3">
      <div class="my-2 px-3 py-1 round-corners background text-center">
        <p>{{ commitment_template.description | linebreaksbr }}</p>
      </div>
      {% include "commitments/CommitmentTemplate/commitment_template_view_page_statistics.html" %}
      <div class="container-fluid p-2 text-center">

        {% block edit_button %}
          <a href="{% url 'edit CommitmentTemplate' commitment_template_id=commitment_template.id %}">
            <button class="standard-button primary-accent" type="submit">Edit</button>
          </a>
        {% endblock edit_button %}

        {% block delete_button %}
          <a href="{% url 'delete CommitmentTemplate' commitment_template_id=commitment_template.id %}">
            <button class="standard-button primary-accent" type="submit">Delete</button>
          </a>
        {% endblock delete_button %}

      </div>
    </div>
  </div>
{% endblock page_content %}
