<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="CME Commitment to Change App">
    <meta name="keywords" content="CME, Commitment, Change, Clinician">
    <title>{% block title %}{% endblock title %}</title>
    {% include "commitments/base_styles.html" %}
</head>
<body>
<header>
    {% include "commitments/navbar.html" %}
</header>
<main>
    {% block page_content %}{% endblock page_content %}
</main>
{% include "commitments/base_scripts.html" %}
</body>
</html>