{% extends "commitments/base.html" %}

{% block title %} Create Commitment {% endblock %}

{% block page_content %}
<div class="w3-container background">
  <div class="w3-cell-row foreground center">
    <form action="{% url 'create commitment target' %}" method="get">
      <label for="title">Title:</label><br>
      <input id="title" name="title" required type="text"><br><br>

      <label for="description">Description:</label><br>
      <textarea id="description" name="description" required></textarea><br><br>

      <label for="deadline">Deadline:</label><br>
      <input id="deadline" name="deadline" required type="date"><br><br>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
