<div class="container-fluid">
  <div class="row foreground p-1 round-corners m-3 border-on-hover">
      <div class="col-md-12">
          <div class="text-center">
            <h3>
              <a href="{% url 'view commitment' commitment_id=commitment.id %}"><button type="button" id="view-commitment-button" class="background round-corners p-2">{{ commitment.title }}</button></a>
                  <p>Due: {{ commitment.deadline }}</p>
              </h3>
          </div>
      </div>

      <div class="col-md-12">
          <div class="text-center mb-3">
            {% include "commitments/post_buttons/reopen_commitment_button.html" %}
          </div>
      </div>

  </div>
</div>
