<div class="container-fluid">
  <div class="row foreground p-1 round-corners m-3 border-on-hover">
      <div class="col-md-12">
          <div class="text-center">
            <h3>
              <form action="{% url 'view course' course_id=course.id %}" id="view-course-button" method="get">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-lg view-button p-2">{{ course.title }}</button>
              </form>
              
              </h3>
          </div>
      </div>

  </div>
</div>
