{% extends "commitments/base.html" %}
{% block title %} Dashboard {% endblock title %}
{% block page_content %}
<div class="container-fluid p-4 text-center background">
    <div class="container-xxl px-5 foreground round-corners">
        <div class="py-1 primary-accent-only round-corners text-center">
            <h1 class="accent-text">Active Commitments</h1>
            {% include "commitments/modals/clinician_dashboard_help_modal.html" %}
            
        </div>
        <div class="row py-5 g-5">
            <div class="col-md-6">
                <div class="pb-3 mb-4 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>In-progress Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in in_progress_commitments %}
                        {% include "commitments/dashboard_active_commitment.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pb-3 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>Past Due Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in expired_commitments %}
                        {% include "commitments/dashboard_active_commitment.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="row py-5 g-5">

            <div class="col-md-12">
                <div class="pb-3 background round-corners">
                    <div class="py-1 primary-accent round-corners text-center accent-text">
                        <h1>My Courses</h1>
                    </div>
                    <div class="background round-corners">
                        <div class="py-1 background round-corners">
                            {% for course in enrolled_courses %}
                            {% include "commitments/dashboard_course.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-1 primary-accent round-corners text-center accent-text">
            <h1>Inactive Commitments</h1>
        </div>
        <div class="row py-5 g-5">
            <div class="col-md-6">
                <div class="pb-3 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>Completed Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in completed_commitments %}
                        {% include "commitments/dashboard_inactive_commitment.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="pb-3 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>Discontinued Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in discontinued_commitments %}
                        {% include "commitments/dashboard_inactive_commitment.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
