{% extends "commitments/base.html" %}
{% block title %} Provider Dashboard {% endblock title %}

{% block page_content %}
<div class="container-fluid px-5 pt-5 text-center background">
    <div class="row g-5">
        <div class="col">
            <div class="px-4 pb-3 foreground round-corners">
                <div class="py-1 primary-accent round-corners center accent-text">
                    <h1>Courses</h1>
                </div>
                <div class="foreground round-corners">
                    <div class="py-1 background round-corners">
                        {% for course in courses %}
                        {% include "commitments/dashboard_course.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
