<div class="container-fluid">
  <div class="row foreground p-1 round-corners m-3 border-on-hover">
      <div class="col-md-12">
          <div class="text-center">
            <h3>
              <form action="{% url 'view commitment' commitment_id=commitment.id %}" id="view-commitment-button" method="post">
                  {% csrf_token %}
                  <button type="submit" class="view-button p-2">{{ commitment.title }}</button>
              </form>
              
                  <p>Due: {{ commitment.deadline }}</p>
              </h3>
          </div>
      </div>

      <div class="col-md-12">
          <div class="text-center mb-3">
            {% include "commitments/post_buttons/reopen_commitment_button.html" %}
          </div>
      </div>

  </div>
</div>
