<nav>
    <div class="w3-bar foreground">
        <div class="w3-bar-item w3-button w3-mobile"><a href="{% url 'dashboard' %}">Dashboard</a></div>
        <div class="w3-bar-item w3-button w3-mobile"><a href="{% url 'create commitment form' %}">Create Commitment</a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="w3-bar-item w3-mobile w3-right">
            <a href="">Logged in as {{ request.user.username }}</a>
            {% include "commitments/logout_button.html" %}
        </div>
        {% else %}
        <div class="w3-bar-item w3-mobile w3-right">
            <a href="/accounts/login">Log In</a>
        </div>
        {% endif %}
    </div>
</nav>