{% extends "commitments/base.html" %}

{% block title %} Register for a Clinician Account {% endblock title %}

{% block page_content %}

<div class="container-fluid px-5 pt-5 text-center background">
    <div class="row g-5">
        <div class="col">
            <div class="px-4 pb-3 foreground round-corners">
                <div class="py-1 primary-accent round-corners center accent-text">
                    <h1>Register for a Clinician Account</h1>
                </div>
                <div class="py-5 foreground center default-form">
                    <form action="{% url 'register clinician' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Create Account">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
