{% extends "commitments/base.html" %}

{% block title %} Register for a Clinician Account {% endblock title %}

{% block page_content %}
<h1>Register for a Clinician Account</h1>
<div class="w3-container background">
    <div class="w3-cell-row foreground center">
        <form action="{% url 'register clinician' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock page_content %}