{% extends "commitments/base.html" %}

{% block title %} {{ title }} view {% endblock %}

{% block page_content %}
<div class="w3-container">
    <header class="w3-panel primary-accent">
        <h1>{{ title }}</h1>
    </header>
    <div class="w3-container w3-round-large foreground">


        <div class="w3-panel w3-round-xlarge secondary-accent">
            <p>Started: {{ created_date }}</p>
            <p>Due: {{ deadline }}</p>
            <p>Status: {{ status }}</p>
        </div>
        <div class="w3-panel w3-round-xlarge secondary-accent">
            <p>{{ description }}</p>
        </div>
    </div>
</div>
{% endblock %}
