{% extends "commitments/base.html" %}
{% block title %} {{ course.title }} {% endblock title %}

{% block page_content %}
<div class="w3-container main-container round-corners pad-small ">
	<div class="foreground">
		<div class="primary-accent round-corners center accent-text">
			<h1>{{ course.title }}</h1>
		</div>

		<div class="w3-row">
			<div class="w3-cell w3-half pad-small">
				<div class="background round-corners pad-small-bot">
					<div class="center secondary-accent round-corners">
						<h2>Description</h2>
					</div>
					<div class="center pad-small">
						<p>{{ course.description }}</p>
					</div>
					<div class="center secondary-accent round-corners">
						<h2>Students</h2>
					</div>
					{% block join_link %} {% endblock join_link %}
					<div class="center secondary-accent round-corners">
						<h3>List of Students Enrolled:</h3>
					</div>
					<ul>
					{% for student in course.students.all %}
						<li>{{ student.username }}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="w3-cell w3-half pad-small">
				<div class="background round-corners pad-small-bot">
					<div class="center secondary-accent round-corners">
						<h2>Associated Commitments</h2>
					</div>
					<div class="center secondary-accent round-corners">
						<h3>Suggested Commitments</h3>
					</div>
					{% for suggested_commitment in course.suggested_commitments.all %}
						{% include "commitments/view_course_suggested_commitment.html" %}
					{% endfor %}
					<div class="center secondary-accent round-corners">
						<h3>Status Breakdown</h3>
					</div>
					<div>
					<table class="commitment-status-breakdown-table">
						<tr>
							<th>Status</th><th>Count</th>
						</tr>
						<tr>
							<td>In progress</td><td>{{ status_breakdown.in_progress }}</td>
						</tr>
						<tr>
							<td>Completed</td><td>{{ status_breakdown.complete }}</td>
						</tr>
						<tr>
							<td>Past Due</td><td>{{ status_breakdown.past_due }}</td>
						</tr>
						<tr>
							<td>Discontinued</td><td>{{ status_breakdown.discontinued }}</td>
						</tr>
						<tr>
							<th>Total</th><th>{{ status_breakdown.total }}</th>
						</tr>
					</table>
					</div>
					<div class="center secondary-accent round-corners">
						<h3>List of Commitments:</h3>
					</div>
					{% for commitment in associated_commitments %}
						{% include "commitments/dashboard_unowned_commitment.html" %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="w3-panel center">
		{% block edit_button %} {% endblock edit_button %}
		{% block delete_button %} {% endblock delete_button %}
	  </div>
</div>
{% endblock page_content %}