{% extends "commitments/view_course.html" %}

{% block join_link %}
<div class="center">Share this link to invite students to the course:
	<div>
	  <strong>
		https://127.0.0.1:8000{% url 'join course' course_id=course.id join_code=course.join_code %}
	  </strong>
	</div>
</div>
{% endblock join_link %}

{% block edit_button %}
<a href="{% url 'edit course' course_id=course.id %}">
  <button class="standard-button primary-accent" type="submit">
	Edit Course
  </button>
</a>
{% endblock edit_button %}

{% block select_suggested_commitments_button %}
<a href="{% url 'change Course suggested commitments' course_id=course.id %}">
	<button>Select</button>
</a>
{% endblock select_suggested_commitments_button %}