{% extends "commitments/base.html" %} 

{% block title %} {{ commitment_template.title }} {% endblock title %} 

{% block page_content %}
<div class="w3-container">
  <div class="w3-panel commitment-title round-corners primary-accent">
    <h1>{{ commitment_template.title }}</h1>
  </div>
  <div class="w3-container round-corners foreground">
    <div class="w3-panel round-corners secondary-accent center">
      <p>{{ commitment_template.description }}</p>
    </div>
    <div class="w3-panel center">
      {% block edit_button %}
      <a href="{% url 'edit CommitmentTemplate' commitment_template_id=commitment_template.id %}">
        <button class="standard-button primary-accent">
        Edit Commitment Template
        </button>
      </a>
      {% endblock edit_button %}

      {% block delete_button %}
      <a href="{% url 'delete CommitmentTemplate' commitment_template_id=commitment_template.id %}">
        <button class="standard-button primary-accent">
        Delete Commitment Template
        </button>
      </a>
      {% endblock delete_button %}
    </div>
  </div>
</div>
{% endblock page_content %}