{% extends "commitments/common/help_modal_base.html" %}

{% block modal_title %} 
Welcome to your commitment dashboard
{% endblock modal_title %}

{% block icon_color %}white{% endblock icon_color %}

{% block modal_body_text %}
Here you can view all of your active commitments, those which are in-progress or past their due date, your inactive commitments, those which you have completed, or discontinued, and any courses you're enrolled in.
<br>
<br>
To get started, either click "Make a commitment" at the top of your screen to add a commitment to your dashboard, or join a course by using a course join-link sent to you by a provider.
{% endblock modal_body_text %}

{% comment %} 
    Surrounding the extended template content (modal_everything) with these {% with %} statements 
    is necessary to allow the parent template to access our modal_id variable.
    Two with statements are necessary in order to first fetch and format the current 
    commitment_id, and then prepend our action string to create a unique modal_id for the modal to use.
{% endcomment %}

{% block modal_everything %}
        {% with modal_id="clinician_dashboard_help_modal" %}
            {{ block.super }}
        {% endwith %}
{% endblock modal_everything %}