{% extends "commitments/common/base.html" %}
{% block title %} Dashboard {% endblock title %}
{% block page_content %}
<div class="container-fluid p-4 text-center background">
    <div class="container-xxl px-5 foreground round-corners">
        <div class="py-1 primary-accent-only round-corners text-center">
            <span class="h1 accent-text">Active Commitments</span> <span>{% include "commitments/dashboard/clinician/dashboard_clinician_active_help_modal.html" %}</span>
            
        </div>
        <div class="row py-5 g-5">
            <div class="col-md-6">
                <div class="pb-3 mb-4 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>In-progress Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in commitments.in_progress %}
                        {% include "commitments/dashboard/clinician/dashboard_clinician_commitment_buttons_active.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pb-3 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>Past Due Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in commitments.expired %}
                        {% include "commitments/dashboard/clinician/dashboard_clinician_commitment_buttons_active.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="row py-5 g-5">

            <div class="col-md-12">
                <div class="pb-3 background round-corners">
                    <div class="py-1 primary-accent-only round-corners text-center">
                        <span class="h1 accent-text">My Courses</span> 
                        <span>{% include "commitments/dashboard/clinician/dashboard_clinician_courses_help_modal.html" %}</span>
                    </div>
                    <div class="background round-corners">
                        <div class="py-1 background round-corners">
                            {% for course in enrolled_courses %}
                            {% include "commitments/dashboard/clinician/dashboard_clinician_course_list.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-1 primary-accent-only round-corners text-center">
            <span class="h1 accent-text">Inactive Commitments</span> 
            <span>{% include "commitments/dashboard/clinician/dashboard_clinician_inactive_help_modal.html" %}</span>
        </div>
        <div class="row py-5 g-5">
            <div class="col-md-6">
                <div class="pb-3 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>Completed Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in commitments.completed %}
                        {% include "commitments/dashboard/clinician/dashboard_clinician_commitment_buttons_inactive.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="pb-3 background round-corners">
                    <div class="py-1 secondary-accent round-corners text-center">
                        <h1>Discontinued Commitments</h1>
                    </div>
                    <div class="py-1 background round-corners">

                        {% for commitment in commitments.discontinued %}
                        {% include "commitments/dashboard/clinician/dashboard_clinician_commitment_buttons_inactive.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
