{% extends "commitments/Common/base.html" %}

{% block title %} Choose an Account Type {% endblock title %}

{% block page_content %}
<div class="container px-5 pt-5 text-center background">
    <div class="p-3 round-corners pb-3 text-center default-form foreground">
            <h1>Choose an Account Type</h1>
            <a href="{% url 'register clinician' %}"><button class="standard-button">Clinician Account</button></a>
            <a href="{% url 'register provider' %}"><button class="standard-button">Provider Account</button></a>
    </div>
</div>
{% endblock page_content %}
