{% extends "commitments/common/base.html" %}
{% block title %}
  Statistics Overview
{% endblock title %}
{% block page_content %}
  <div class="container-xl px-0 mb-3 foreground round-corners">
    <div class="primary-header-container">
      <h1>Course Statistics</h1>
    </div>
    {% include "commitments/statistics/statistics_overview_overall_course_stats.html" %}
    {% include "commitments/statistics/statistics_overview_courses_list.html" %}
    <div class="primary-header-container">
      <h1>Commitment Template Statistics</h1>
    </div>
    {% include "commitments/statistics/statistics_overview_overall_commitment_template_stats.html" %}
    {% include "commitments/statistics/statistics_overview_commitment_templates_list.html" %}
  </div>
{% endblock page_content %}
